<div>
  <ul>
    <a href="/user/<%= session[:user_id] %>">Go back to dashboard</a>
  </ul>
</div>
<div>
  <h3>All users:</h3>
</div>
<div>
  <% if @users %>
    <% @users.each do |user| %>
      <ul>
        <a href="/user/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
        <ul>Number of books:
          <%= user.book_shelfs.count %>
          <form action="/friendships" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="friend_id" value="<%= user.id %>">
            <button type="submit" class="btn-primary btn-xs">Add Friend</button>
          </form>
        </ul>
      </ul>
    <% end %>
  <% end %>
</div>
<div>
  <h3>Your friends:</h3>
</div>
<div>
  <% if @friends %>
    <% @friends.each do |friend| %>
      <ul id="user_friend">
        <form action="/friendships/<%= friend.user_friend_id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button type="sumbit" class="btn-primary btn-xs">Remove</button>
        </form>
        <a href="">
          <%= friend.user_friend.first_name %> <%= friend.user_friend.last_name %>
        </a>
      </ul>
      <!-- add display of book titles through ajax call on click -->
    <% end %>
  <% end %>
</div>
